<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LogIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="auth-container">
    <div class="logo-section">
      <ion-icon name="cart-outline" class="logo"></ion-icon>
      <h2>Welcome Back</h2>
      <p>Login to your Marketplace account</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Enter your email"
            required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Enter your password"
            required>
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="terms-label">
            <a href="#" class="forgot-password">Forgot password?</a>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button
        type="submit"
        expand="block"
        class="ion-margin-top"
        [disabled]="!loginForm.valid || isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Sign In</span>
      </ion-button>
    </form>


    <div class="login-link ion-text-center ion-margin-top">
      <p>Don't have an account?
        <ion-button fill="clear" routerLink="/signup">Sign Up</ion-button>
      </p>
    </div>
  </div>
</ion-content>
