<ion-footer>
  <ion-toolbar>
    <div class="footer-nav">
      <ion-button class="footer-btn active"  routerLink="/admin">
        <ion-icon name="grid-outline"></ion-icon>
        <span>Dashboard</span>
      </ion-button>
      <ion-button class="footer-btn"  routerLink="/admin/list-products">
        <ion-icon name="cube-outline"></ion-icon>
        <span>Product</span>
      </ion-button>
      <ion-button class="footer-btn" routerLink="/categories">
        <ion-icon name="pricetags-outline"></ion-icon>
        <span>Categories</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
